<h2>{{reunion.nombreReunion}}</h2>
<button class="btn btn-sm btn-primary" (click)="redirect(reunion.nombreReunion)">Ingresar</button>
<button *ngIf="misReuniones" class="btn btn-sm" (click)="showModal()">Invitar personas</button>

<dialog id="dialogInvitar" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Invitar personas</h3>
    <p class="py-4">Escribe el correo de un usuario para invitarlo.</p>
    <form [formGroup]="formInvitar" class="flex">
      <input formControlName="correo" type="text" placeholder="Type here"
        class="input input-sm input-bordered w-full max-w-xs" />
      <button class="btn btn-sm" (click)="invitar()">Invitar</button>
    </form>
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>
