<div>
  <h1>Reservar Citas</h1>
  <h2>Mostrar Horarios</h2>
  
  <form>
    <label for="mentor">Nombre del mentor:</label>
    <input type="text" id="mentor" name="mentor" placeholder="Escribe el nombre del mentor">

    <button type="button" (click)="buscarMentor()">Buscar mentor</button>
  </form>
  <div *ngIf="horariosDisponibles.length > 0">
    <h3>Horarios Disponibles:</h3>
    <ul>
      <li *ngFor="let horario of horariosDisponibles">{{ horario }}</li>
    </ul>
    <button (click)="solicitarCita()">Solicitar Cita</button>
  </div>
</div>