version: '3.8'

services:
  # Node.js
  app:
    image: node:21-bookworm
    container_name: backend-app
    working_dir: /app
    volumes:
      - ./app:/app
    environment:
      - NODE_ENV=development
    ports:
      - "4447:4447"
    command: "npm start"
    depends_on:
      - db
      - redis
    networks:
      - backend

  # PostgreSQL
  db:
    image: postgres:15-bookworm
    container_name: postgres_db
    mem_limit: 1536MB
    mem_reservation: 1G
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    networks:
      - backend
    volumes:
      - postgres_data:/var/lib/postgresql/15/data
    command: "postgres -c 'max_connections=500'"

  # Redis
  redis:
    image: redis:7.2.3-bookworm
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - backend

networks:
  backend:
    name: backend

volumes:
  postgres_data: {}
