<div class="chat-container" style="margin: auto;">
    <div class="col-left">
        <div class="iconBox">
            <img src="https://i.pinimg.com/474x/eb/da/17/ebda17e08e45aa83fc8eed8586060790.jpg" alt="150x150">
            <p >{{usuario.nombre}}</p>
        </div>

        <div class="chat-list" >
            <div class="item">
                <img src="https://images7.memedroid.com/images/UPLOADED928/61eaa2fcc21dc.jpeg" alt="150x150">
                <p>Estás conversando con el usuario <strong>{{this.nombreReceptor}}</strong></p>
            </div>
        </div>
    </div>

    <div class="col-right">
        
        <div class="messageContent">
            <div class="messageContent">
                <p *ngIf="conversacionActual.length == 0"> Por el momento no has iniciado una conversación...</p>
                <div *ngFor="let mensaje of conversacionActual" class="message">
                    <div class="messageBox" style="margin-bottom: 5px;">
                        <p>{{mensaje.contenido.S}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="newMessageBox">
            <input type="text" placeholder="Escribe un mensaje..." class="newMessageInput" [value]="messageText"/>
            <button class="btn btn-active" (click)="enviarMensaje()">Enviar mensaje</button>
        </div>

    </div>

</div>